.dashboard-winner__form {
  margin-top: 10px;

  &-filter-container {
    width: 100%;
    display: flex;
    column-gap: 15px;
  }
}

.dashboard-winner__table-container {
  margin-top: 10px;
  width: 100%;
}
