.button-icon {
  border-radius: 5px;
  padding: 10px;

  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--sys-color-gray-200);
  }

  &:active {
    background-color: var(--sys-color-gray-300);
  }

  &:disabled {
    background-color: var(--sys-color-gray-100);
    color: var(--sys-color-gray-500);
    cursor: not-allowed;
  }
}

.primary {
  background-color: var(--sys-color-blue-500);
  color: var(--sys-color-white);
  &:hover {
    background-color: var(--sys-color-blue-600);
  }
  &:active {
    background-color: var(--sys-color-blue-700);
  }

  &:disabled {
    background-color: var(--sys-color-gray-100);
    cursor: not-allowed;
  }
}
