.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  color: var(--sys-color-gray-800);
  border: 1px solid var(--sys-color-gray-300);

  thead {
    background-color: var(--sys-color-gray-200);

    th {
      text-align: left;
      padding: 12px;
      font-weight: 600;
      color: var(--sys-color-gray-900);
      border: 1px solid var(--sys-color-gray-300);
    }
  }

  tbody {
    td {
      padding: 12px;
      border: 1px solid var(--sys-color-gray-200);
      color: var(--sys-color-gray-700);
    }

    tr:hover {
      background-color: var(--sys-color-gray-50);
    }
  }
}
