:root {
  //Colors
  --sys-color-gray-1:   #f9fafb;
  --sys-color-gray-50:  #f8fafc;
  --sys-color-gray-100: #f1f5f9;
  --sys-color-gray-200: #e5e7eb;
  --sys-color-gray-300: #d1d5db;
  --sys-color-gray-400: #9ca3af;
  --sys-color-gray-500: #6b7280;
  --sys-color-gray-600: #4b5563;
  --sys-color-gray-700: #374151;
  --sys-color-gray-800: #1f2937;
  --sys-color-gray-900: #111827;
  --sys-color-white: #ffffff;

  --sys-color-blue-50:   #eff6fc;
  --sys-color-blue-100:  #dbeffd;
  --sys-color-blue-200:  #b6defa;
  --sys-color-blue-300:  #84c8f6;
  --sys-color-blue-400:  #47aaf0;
  --sys-color-blue-500:  #0078d4;
  --sys-color-blue-600:  #006cbe;
  --sys-color-blue-700:  #005ca2;
  --sys-color-blue-800:  #004a87;
  --sys-color-blue-900:  #003462;

  //Sizes
  --sys-size-small: 0.5rem;
  --sys-size-medium: 1rem;
  --sys-size-large: 2rem;
  --sys-size-xlarge: 4rem;
  --sys-size-xxlarge: 8rem;
  --sys-size-full: 100%;
}
