<table class="table">
  <thead>
    <tr>
      @for (column of columns(); track $index) {
        <th>
          {{ column.label }}
          @if (column.filterable) {
            <input
              class="basic__input table__field"
              type="text"
              placeholder="Filter by {{ column.label }}"
              (change)="onFilter({ key: column.key, value: $event })"
            />
          } @else if(column.selectable) {
            <select
              class="basic__select table__field"
              (change)="onFilter({ key: column.key, value: $event })"
              >
              @for (option of column.options; track $index) {
                <option [value]="option.value">{{ option.label }}</option>
              }
            </select>
          }
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @if(isLoading()) {
      <tr>
        <td [attr.colspan]="columns().length">
          <div class="loader"></div>
        </td>
      </tr>
    } @else if (data()?.length) {
      @for (row of data(); track $index) {
        <tr>
          @for (column of columns(); track $index) {
          <td>{{ row[column.key] | format }}</td>
          }
        </tr>
      }
  } @else {
      <tr class="table__no-data">
        <td [attr.colspan]="columns().length">No data available.</td>
      </tr>
    }
  </tbody>
</table>
