.dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
}

@media (max-width: 1080px) {
  .dashboard {
    grid-template-columns: 1fr;
  }
}
