<div class="dashboard">
  <app-dashboard-years-multiple-list
    [winnersByYear]="winnersByYear$ | async"
    [isLoading]="
      loadingService.isLoading(projectionMaxMinWinIntervalForProducers)
    "
  />
  <app-dashboard-top-studios-list
    [topStudios]="topStudios$ | async"
    [isLoading]="loadingService.isLoading(projectionStudiosWithWinCounts)"
  />
  <app-dashboard-producers-intervals-list
    [maxMinWinIntervalForProducers]="maxMinWinIntervalForProducers$ | async"
    [isLoading]="
      loadingService.isLoading(projectionMaxMinWinIntervalForProducers)
    "
  />
  <app-dashboard-winner-by-year-list
    [movies]="movies$ | async"
    [isLoading]="loadingService.isLoading(winnerByYearLoader)"
    (yearEmitter)="fetchWinnerByYear($event)"
  />
</div>
