<div class="movies-list">
  <div class="card">
    <span class="card__title">List movies</span>
    <div class="card__content-container">
      <app-table
        [columns]="columns"
        [data]="movies"
        [isLoading]="loadingService.isLoading(moviesListLoading)"
        [page]="moviesPagination.page!"
        [totalPages]="moviesPagination!.totalPages!"
        [showPagination]="true"
        (fieldSearchEmitter)="fetchMoviesByFilter($event)"
        (pageChangeEmitter)="fetchMoviesWithPage($event)"
      />
    </div>
  </div>
</div>
