<main class="layout">
  <header class="layout__header">
    <span>Frontend Angular Test</span>
  </header>
  <div class="layout__content-container">
    <aside class="layout__sidebar">
      @for (sidebarOption of sidebarOptions; track $index) {
      <a
        class="layout__sidebar-options"
        [routerLink]="sidebarOption.route"
        routerLinkActive="active"
      >
        <i [attr.class]="sidebarOption.icon"></i>
        <span>{{ sidebarOption.title }}</span>
      </a>
      }
    </aside>
    <section class="layout__content">
      <ng-content />
    </section>
  </div>
</main>
